@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;900&display=swap');

* {

    font-family: 'poppins', sans-serif;

}





body {
    background-image: url("bg1.jpg");
    background-repeat: no-repeat;

    background-color: #b1c0c6;





}

h2 {
    font-weight: 500;
    word-spacing: -0.1vh;


}

hr#five {
    border-top: 4px solid black;
    width: 45%;
    position: absolute;
    margin-top: 10px;
    margin-left: 580px;
}

hr#six {
    border-top: 2px solid black;
    width: 29%;
    position: absolute;
    margin-top: -170px;
    margin-left: 590px;
}

hr#fourteen {
    border-top: 4px solid black;
    width: 45%;
    position: absolute;
    margin-top: 30px;
    margin-left: 580px;
}



#one {


    font-size: 550%;
    font-weight: 600;
    margin-bottom: 400px;
    margin-left: 590px;
    word-spacing: -2vh;



}

#two {

    position: absolute;
    font-size: 550%;
    font-weight: 600;
    bottom: 417px;
    left: 600px;
    word-spacing: -2vh;



}

#three {

    position: absolute;
    font-size: 550%;
    font-weight: 600;
    bottom: 340px;
    left: 600px;
    word-spacing: -2vh;

}

#four {


    position: absolute;
    font-size: 550%;
    font-weight: 600;
    bottom: 267px;
    left: 600px;
    word-spacing: -2vh;

}

#seven {
    position: absolute;
    bottom: 267px;
    left: 600px;


}

#eight {
    position: absolute;
    bottom: 241px;
    left: 600px;


}

#nine {
    position: absolute;
    bottom: 217px;
    left: 600px;


}

#ten {
    position: absolute;
    bottom: 190px;
    left: 600px;


}

#eleven {
    position: absolute;
    bottom: 165px;
    left: 600px;


}

#twelve {
    position: absolute;
    bottom: 140px;
    left: 600px;


}

#thirteen {
    position: absolute;
    bottom: 115px;
    left: 600px;


}

#a {
    position: absolute;
    bottom: 60px;
    left: 600px;
}

#b {
    position: absolute;
    bottom: 20px;
    left: 600px;
}

#c {
    position: absolute;
    bottom: 2px;
    left: 600px;
}

#d {
    position: absolute;
    bottom: -20px;
    left: 600px;
}

#e {
    position: absolute;
    bottom: -40px;
    left: 600px;
}

#f {
    position: absolute;
    bottom: -70px;
    left: 600px;
}

#g {
    position: absolute;
    bottom: -90px;
    left: 600px;
}

#h {
    position: absolute;
    bottom: -120px;
    left: 600px;
}

#i ul,
li {
    position: absolute;
    bottom: -140px;
    left: 600px;
}

#j ul#oo,
li#ooo {
    position: absolute;
    bottom: -180px;
    left: 600px;
}

#k ul#oooo,
li#ooooo {
    position: absolute;
    bottom: -240px;
    left: 600px;
}

#l {
    position: absolute;
    bottom: -300px;
    left: 600px;
}

#m {
    position: absolute;
    bottom: -360px;
    left: 600px;
}

#n {
    font-weight: 600;
    position: absolute;
    bottom: -380px;
    left: 600px;
}